

<div class="row">
  <div class="medium-10 columns content-focus">

    <!--
    <form class="search" action="/ranches/">
      <input type="text" name="k" value="{{keyword}}" />
      <button>Search</button>
    </form>
-->
    {{#if ranch_list}}
      <ul class="search-results-list small-block-grid-3 medium-block-grid-4 large-block-grid-4">
      {{#each ranch_list}}
        <li>
          <a href="/ranch/{{url_title}}"><img src="{{photo.small}}" /></a>
          <span class="title"><a href="/ranch/{{url_title}}">{{title}}</a></span>
          {{#if city}}<span class="details">{{city}}, {{state}}</span>{{/if}}
        </li>
      {{/each}}
      </ul>

      <div class="pagination">
        {{#if paginate.previous}}<a href="/ranches/{{paginate.previous_query}}"><i class="foundicon-left-arrow"></i></a>{{/if}}
        {{#if paginate.next}}<a href="/ranches/{{paginate.next_query}}"><i class="foundicon-right-arrow"></i></a>{{/if}}
      </div>

    {{else}}
      <h4 class="no-results">No ranches found.</h4>
    {{/if}}



  </div>
  <div class="medium-2 columns sidebar">
    {{> ads}}

  </div>
</div>
